<h2>All users</h2>
<div>
  <label>User name:
    <input #userName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(userName.value); userName.value=''">
    add
  </button>
</div>

<ul class="users">
  <li     *ngFor="let user of users">
    <a routerLink="/users/detail/{{user.id}}">
      <span class="badge">{{user.id}}</span> {{user.firstname}}&nbsp;{{user.lastname}}
    </a>
    <button class="delete" title="delete user"
            (click)="delete(user)">x</button>
  </li>
</ul>
