
.table-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    max-width: 300 px;
}

.mat-table {
    overflow: auto;
    max-height: 550px;
}

.mat-row:hover {
    background-color: azure;
    cursor: pointer;
}
