<div class="page-content">
  <h3>Zones</h3>

  <mat-list role="list" *ngIf="zones && zones.length">
    <mat-list-item role="listitem" *ngFor="let zone of zones">
      <div>{{ zone.name }}</div>
    </mat-list-item>
  </mat-list>

</div>

<div>
  <label>Zone name:
    <input #zoneName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(zoneName.value); zoneName.value=''">
    add
  </button>
</div>

<mat-list role="list" *ngIf="heroes && heroes.length">
  <mat-list-item role="listitem" *ngFor="let hero of heroes">
    <div>{{ hero.name }}</div>
  </mat-list-item>
</mat-list>

<ul class="zones">
  <li     *ngFor="let zone of zones">
    <a routerLink="/zones/detail/{{zone.id}}">
      <span class="badge">{{zone.id}}</span> {{zone.name}}
    </a>
    <button class="delete" title="delete zone"
            (click)="delete(zone)">x</button>
  </li>
</ul>
