<h2>All zones</h2>
<div>
  <label>Zone name:
    <input #zoneName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(zoneName.value); zoneName.value=''">
    add
  </button>
</div>

<ul class="zones">
  <li     *ngFor="let zone of zones">
    <a routerLink="/zones/detail/{{zone.id}}">
      <span class="badge">{{zone.id}}</span> {{zone.name}}
    </a>
    <button class="delete" title="delete zone"
            (click)="delete(zone)">x</button>
  </li>
</ul>
