<html>
<head>
    <title>PADRE Vigilance report</title>
</head>
<body>
<h3>PADRE Vigilance report</h3>

<p>Dear ${report.user.firstname} ${report.user.lastname},</p>
<p>You subscribed to some POIS that have been detected as potential warning:</p>
<p>Eumetsat rain prevision : </p>
<ul>
    <#list report.zones as zone>
        <li>
            <b>${zone.name} </b> rised the threshold of ${zone.threshold} mm in a buffer of ${zone.radius} km
            <p>Total rain in zone for last </p>
            <ul>
                <li>3 hours:     ${zone.sum03}Km<sup>3</sup></li>
                <li>6 hours:     ${zone.sum06}Km<sup>3</sup></li>
            </ul>
        </li>
    </#list>
</ul>

</body>
</html>