<div *ngIf="user">

  <h2>{{ user.name | uppercase }} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <form [formGroup]="userForm" novalidate>
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
    </div>
  </form>

  <ngeo-geometry-tool
          ngeo-geom-allow-reset="true"
          ngeo-geom-type="Polygon"
          ngeo-geom-outputcrs="EPSG:4326"
          ngeo-geom-outputformat="json"
          ngeo-geom-inputformat="json"
          output-as-features="true"
          [(output)]="user.geom"
          [map]="map">
  </ngeo-geometry-tool>

  <div ngeo-map [map]="map"></div>

  <textarea [(ngModel)]="user.geom"></textarea>

</div>

<button (click)="save()">save</button>

<button (click)="goBack()">go back</button>