<div *ngIf="user">

  <h2>{{ user.name | uppercase }} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <form [formGroup]="userForm" novalidate>
    <div class="form-group">
      <label class="center-block">First Name:
        <input class="form-control" formControlName="firstname">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Last Name:
        <input class="form-control" formControlName="lastname">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Phone number:
        <input class="form-control" formControlName="phone">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Zones:
      </label>
    </div>
  </form>
</div>
<tag-input [(ngModel)]="userZones"
           theme='bootstrap'
           [identifyBy]="'id'"
           [displayBy]="'name'"
           [autocomplete]="true"
           [placeholder]="'Zones'"
           [onlyFromAutocomplete]="true">
  <tag-input-dropdown
          [showDropdownIfEmpty]="true"
          [identifyBy]="'id'"
          [displayBy]="'name'"
          [(autocompleteItems)]="allZones">
  </tag-input-dropdown>
</tag-input>

<button (click)="save()">save</button>

<button (click)="goBack()">go back</button>