<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        <a mat-button [routerLink]="['/zones']" routerLinkActive="router-link-active">Zones</a>
        <a mat-button [routerLink]="['/users']" routerLinkActive="router-link-active">Users</a>
        <a mat-button [routerLink]="['/bassins']" routerLinkActive="router-link-active">Bassins</a>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<!--<app-messages></app-messages>-->
