<div gi-btn-group class="btn-group">

  <button class="btn btn-default draw-button"
          ngeoButton
          [(ngModel)]="drawInteraction.active">
    <span class="fa fa-pencil"></span>&nbsp;
    <span translate>drawGeometry</span>
  </button>

  <button class="btn btn-default modify-button"
          *ngIf="allowModify"
          [disabled]="!featureOverlay.getSource().getFeatures().length"
          ngeoButton
          [(ngModel)]="modifyInteraction.active">
    <span class="fa fa-pencil"></span>&nbsp;
    <span translate>modifyGeometry</span>
  </button>

  <button class="btn btn-danger btn-icon reset-button" ngeoButton
          *ngIf="allowReset"
          [disabled]="!featureOverlay.getSource().getFeatures().length"
          (click)="reset()">
    <span class="fa fa-trash-o"></span>
    <span translate>reset</span>
  </button>

</div>
